*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
}

.container{
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgb(0, 0, 0, 0.3);
    overflow: hidden;
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(666px at 0.4% 48%, rgba(19, 73, 153, 0.897) 0%, rgba(79, 134, 230, 0.836) 97.5%);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.signin-signup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form.sign-in-form{
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

form.sign-up-form{
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.title{
    font-size: 35px;
    color: rgba(46, 92, 243, 0.719);
    margin-bottom: 10px;
}

.input-field{
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid rgba(46, 92, 243, 0.719);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field i{
    flex: 1;
    text-align: center;
    color: rgba(46, 92, 243, 0.719);
    font-size: 20px;
}

.input-field input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 600;
    font-size: 17px;
}

.btn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: rgba(18, 62, 207, 0.719);
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover{
    background: rgba(40, 63, 138, 0.719);
}

.social-text{
    margin: 10px 0;
    font-size: 16px;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a3eccdc;
    border: 1px solid #0a3eccdc;
    border-radius: 50px;
    margin: 0 5px;
}

a{
    text-decoration: none;
}

.social-icon:hover{
    color: rgb(140, 156, 207);
    border-color:  rgb(140, 156, 207);
}

.panels-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}

.lift-panel{
    pointer-events: none;
}

.content{
    /* color: #fff; */
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
    color: white;
}

.panel h3{
    font-size: 24px;
    font-weight: 600;

}

.panel p{
    font-size: 15px;
    padding: 10px 0;
}

.image{
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;

}

.lift-panel .image,
.lift-panel .content{
    transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content{
    transform: translateX(0);
}

/* Animation */

.container.sign-up-mode::before{
    transform: translateX(0);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content{
    transform: translateX(200%);
}

.container.sign-up-mode .lift-panel .image,
.container.sign-up-mode .lift-panel .content{
    transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form{
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form{
    opacity: 1;
}

.container.sign-up-mode .right-panel{
    pointer-events: none;
}

.container.sign-up-mode .lift-panel{
    pointer-events: all;
}

.text-danger {
    color: red;
    font-size: 12px;
    margin-top: 75px; /* Menambahkan jarak di atas pesan validasi */
    display: block; /* Menjadikan pesan validasi sebagai blok, sehingga muncul di bawah input */
}
